spring.application.name=backend
spring.datasource.url=jdbc:mysql://localhost:3306/campustrade
spring.datasource.username=campustrade_user
spring.datasource.password=YOUR_PASSWORD_HERE
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect